@import "/home/zazag/.config/waybar/themes/colors.css";

* {
  font-family: 'Nunito Regular';
}

/* Waybar */
window#waybar {
  padding: 1px 8px;
  margin: 4px;
  background-color: rgba(30, 30, 46, 0.05);
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px 0px 10px 10px;
  color: @text;
}

/* Modules */
#tray,
#custom-media,
#cpu,
#memory,
#backlight,
#pulseaudio,
#network,
#bluetooth,
#battery,
#clock,
#custom-sysmenu,

#window {
  font-size: 15px;
  padding: 1px 12px;
  padding-left: 0;
  margin: 4px;
  color: @dark;
}

/* Launcher */
#custom-launcher {
  padding: 1px 8px;
  margin: 4px;
  transition-duration: 0.2s;
  background-color: @pink;
  color: @dark;
}

/* Workspaces */
#workspaces {
  padding: 2px 8px;
  padding-left: 4px;
  margin-left: 0px;
  transition-duration: 0.2s;
}

#workspaces button {
  font-size: medium;
  font-weight: 600;
  padding: 1px 8px;
  margin: 4px 2px 2px 4px;
  border-radius: 10px;
  border:solid 0px;
  transition-duration: 0.2s;
  background-color: @surface0;
  color: @subtext;
  border-color: @surface1;
}

#workspaces button:hover {
  font-size: larger;
  font-weight: 800;
  background-color: @purple;
  color: @dark;
  border-color: @pink;
}

#workspaces button.active {
  font-size: large;
  font-weight: 700;
  padding: 1px 12px;
  border-color: #d298fe;
  box-shadow: 0px 0px 10px @purple;
  background-color: @pink;
  color: @dark;
}

#workspaces button.focused {
  border-color: #d298fe;
  background-color: @pink;
  color: @dark;
}

#workspaces button.urgent {
  border-color: #eb4d4b;
  transition-duration: 0.2s;
  background-color: @red;
  color: @dark;
}

/* Tray */
#tray {
  padding: 1px 8px;
  margin: 4px;
  border:solid 0px;
  border-radius: 10px;
  background-color: @surface1;
  color: @dark;
  border-color: @surface2;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* Custom Media */
#custom-media {
  padding: 1px 8px;
  margin: 4px;
  border:solid 0px;
  border-radius: 10px;
  letter-spacing: 4px;
  transition-duration: 0.2s;
  color: @dark;
  border-color: @surface2;
}

#custom-media:hover {
  border-width: 2px;
  background-color: @mauve;
}

#custom-media.playing {
  border-color: #27b21b;
  background-color: @green;
}

#custom-media.paused {
  border-color: #eb4d4b;
  background-color: @red;
}

/* Backlight */
#backlight {
  background-color: #ffffff;
  color: @dark;
}

/* Pulseaudio */
#pulseaudio {
  font-size: 15px;
  padding: 1px 8px;
  margin: 4px;
  border:solid 0px;
  border-radius: 10px;
  transition-duration: 0.2s;
  color: @text;
  background-color: @surface1;
  border-color: @surface2;
}

#pulseaudio.muted {
  border-color: #eb4d4b;
  transition-duration: 0.2s;
  color: @dark;
  background-color: @red;
}

#clock {
  font-family: 'Nunito Black';
  font-weight: 800;
  font-size: 18px;
  padding: 1px 8px;
  margin: 4px;
  border-radius: 10px;
  color: @pink;
  background-color: @surface1;
  transition-duration: 0.2s;
}

#custom-sysmenu {
  padding: 1px 8px;
  margin: 4px;
  margin-right: 8px;
  border-radius: 10px;
  color: @dark;
  background-color: @pink;
}

#custom-swaylock {
  padding: 1px 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-color: @surface2;
  background-color: @surface1;
}

#idle_inhibitor {
  padding: 1px 8px;
  margin: 4px 0px 4px 4px;
  border-radius: 10px 0px 0px 10px;
  border-color: @surface2;
  background-color: @surface1;
}

#custom-gammastep {
  padding: 1px 8px;
  margin: 4px 4px 4px 0px;
  border-radius: 0px 10px 10px 0px;
  border-color: @surface2;
  background-color: @surface1;
}

#memory {
  font-size: 15px;
  padding: 1px 8px;
  margin: 4px;
  border:solid 0px;
  border-radius: 10px;
  color: @text;
  border-color: @surface2;
  background-color: @surface1;
}

#custom-notifications {
  padding: 1px 8px;
  margin: 4px;
  border:solid 0px;
  border-radius: 10px;
  border-color: @surface2;
  background-color: @surface1;
}

#custom-ddcutil-brightness {
  font-size: 15px;
  padding: 1px 8px;
  margin: 4px;
  margin-right: 2px;
  border:solid 0px;
  border-radius: 10px;
  border-color: @surface2;
  background-color: @surface1;
}